/node_modules
/public/hot
/public/storage
/public/files
/public/exports
/public/tmp
/storage/*.key
/vendor
/public/.htaccess
.htaccess
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/database
/config/session.php
