@font-face {
  font-family: "Prompt";
  src: url(../fonts/prompt-regular-webfont.eot?f1b422e52494ad8f73d1387cb2f5994f);
  src: url(../fonts/prompt-regular-webfont.eot?f1b422e52494ad8f73d1387cb2f5994f) format("embedded-opentype"), url(../fonts/prompt-regular-webfont.woff2?3e904f9ba7834485f646c929569121dc) format("woff2"), url(../fonts/prompt-regular-webfont.woff?7f3a833f2dfab2beaac3c681179a8564) format("woff"), url(../fonts/prompt-regular-webfont.ttf?c9e8b4b6ac6091233c7a80e14cee65a5) format("truetype"), url(../fonts/prompt-regular-webfont.svg?99784a93a56552d14353ad1b920450d4) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Motosansthai-Light";
  src: url(../fonts/notosansthai-light-webfont.eot?a24a97140b8f73d457e92cf6a1ceb6dd);
  src: url(../fonts/notosansthai-light-webfont.eot?a24a97140b8f73d457e92cf6a1ceb6dd) format("embedded-opentype"), url(../fonts/notosansthai-light-webfont.woff2?9dd858670bdef73a43a69ce109403267) format("woff2"), url(../fonts/notosansthai-light-webfont.woff?1067f0d3089eed55c13d45b7e587313d) format("woff"), url(../fonts/notosansthai-light-webfont.ttf?90c09b7060904c87e5ac34d6666ceff7) format("truetype"), url(../fonts/notosansthai-light-webfont.svg?0b66f37cff51904b89af0744de5fb95e) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Motoserifthai-Light";
  src: url(../fonts/notoserifthai-light-webfont.eot?4b59520ebfad9f6d909d5c82f19f141f);
  src: url(../fonts/notoserifthai-light-webfont.eot?4b59520ebfad9f6d909d5c82f19f141f) format("embedded-opentype"), url(../fonts/notoserifthai-light-webfont.woff2?cb0fe740ec666a15b406f4bbbb84ef0b) format("woff2"), url(../fonts/notoserifthai-light-webfont.woff?a415eebec0aa193c3f2fc475c2295832) format("woff"), url(../fonts/notoserifthai-light-webfont.ttf?25fc01416ab9b9618686e86f2c28f1cd) format("truetype"), url(../fonts/notoserifthai-light-webfont.svg?43ecaaac5e7cb01eb382ef32ad345da3) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira-code";
  src: url(../fonts/FiraCode-Regular.woff2?ea8e341601f69d25bb335b834f77e732) format("woff2"), url(../fonts/FiraCode-Regular.ttf?1b433a821ef8f9a70eac6aea64f7cac8) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page-wrapper-custom {
  background-color: #fff;
}

.card {
  font-family: "Motosansthai-Light" !important;
  font-style: normal;
}

.bd-callout {
  padding: 1.25rem;
  margin: 1rem 0 1.25rem 0;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h1 {
  font-size: 1.275em;
  margin-bottom: 14px;
  padding-bottom: 4px;
}

.bd-callout-info {
  border-left-color: #54A4E0;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout-custom-1 {
  border-left-color: #5A6268;
}

.bd-callout-custom-2 {
  border-left-color: #F7A6A7;
}

.bd-callout-custom-3 {
  border-left-color: #FF1543;
}

.bd-callout-custom-4 {
  border-left-color: #87BB69;
}

.bd-callout-custom-5 {
  border-left-color: #F4B43E;
}

.bd-callout-custom-6 {
  border-left-color: #900C3F;
}

.bd-callout-custom-7 {
  border-left-color: #6C3483;
}

.bd-callout-bg-custom-1 {
  background-color: #FAE7E8;
}

.bd-callout-danger h4 {
  color: #d9534f;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.border-danger {
  border: 1px solid #B94A48 !important;
}

.custom-form-legend legend {
  font-size: 1.275em;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.normal-label {
  font-weight: normal;
}

.highlight td {
  background-color: #F2F2F2 !important;
}

.run-in {
  display: run-in !important;
}

.inline-block {
  display: inline-block !important;
}

.font-normal {
  font-weight: normal !important;
}

.bg-cusom-1 {
  background-color: #f4f4f4;
}

.input-append {
  border: 1px solid #eee;
}

.input-append:focus {
  border: 1px solid #bbb;
}

.border-bottom-custom-1 {
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #FFB848;
  border-right: none;
}

.border-bottom-custom-2 {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #bbb;
  border-right: none;
}

a.link-color-white {
  color: white;
}

a.link-color-white:hover {
  color: white;
}

.bg-custom-1 {
  background-color: #6C3483;
}

.text-color-custom-1 {
  color: #6C3483 !important;
}

.bg-custom-2 {
  background-color: #900C3F;
}

.text-color-custom-2 {
  color: #900C3F !important;
}

