@font-face {
  font-family: "Prompt";
  src: url(../fonts/prompt-regular-webfont.eot?f1b422e52494ad8f73d1387cb2f5994f);
  src: url(../fonts/prompt-regular-webfont.eot?f1b422e52494ad8f73d1387cb2f5994f) format("embedded-opentype"), url(../fonts/prompt-regular-webfont.woff2?3e904f9ba7834485f646c929569121dc) format("woff2"), url(../fonts/prompt-regular-webfont.woff?7f3a833f2dfab2beaac3c681179a8564) format("woff"), url(../fonts/prompt-regular-webfont.ttf?c9e8b4b6ac6091233c7a80e14cee65a5) format("truetype"), url(../fonts/prompt-regular-webfont.svg?99784a93a56552d14353ad1b920450d4) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Motosansthai-Light";
  src: url(../fonts/notosansthai-light-webfont.eot?a24a97140b8f73d457e92cf6a1ceb6dd);
  src: url(../fonts/notosansthai-light-webfont.eot?a24a97140b8f73d457e92cf6a1ceb6dd) format("embedded-opentype"), url(../fonts/notosansthai-light-webfont.woff2?9dd858670bdef73a43a69ce109403267) format("woff2"), url(../fonts/notosansthai-light-webfont.woff?1067f0d3089eed55c13d45b7e587313d) format("woff"), url(../fonts/notosansthai-light-webfont.ttf?90c09b7060904c87e5ac34d6666ceff7) format("truetype"), url(../fonts/notosansthai-light-webfont.svg?0b66f37cff51904b89af0744de5fb95e) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Motoserifthai-Light";
  src: url(../fonts/notoserifthai-light-webfont.eot?4b59520ebfad9f6d909d5c82f19f141f);
  src: url(../fonts/notoserifthai-light-webfont.eot?4b59520ebfad9f6d909d5c82f19f141f) format("embedded-opentype"), url(../fonts/notoserifthai-light-webfont.woff2?cb0fe740ec666a15b406f4bbbb84ef0b) format("woff2"), url(../fonts/notoserifthai-light-webfont.woff?a415eebec0aa193c3f2fc475c2295832) format("woff"), url(../fonts/notoserifthai-light-webfont.ttf?25fc01416ab9b9618686e86f2c28f1cd) format("truetype"), url(../fonts/notoserifthai-light-webfont.svg?43ecaaac5e7cb01eb382ef32ad345da3) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira-code";
  src: url(../fonts/FiraCode-Regular.woff2?ea8e341601f69d25bb335b834f77e732) format("woff2"), url(../fonts/FiraCode-Regular.ttf?1b433a821ef8f9a70eac6aea64f7cac8) format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "boon";
  src: url(../fonts/Boon-Regular.woff2?bc2683485f0c4be1de1186e4604c0a2c) format("woff2"), url(../fonts/Boon-Regular.woff?a5658b33ca5093c879b38d5b4c480879) format("woff"), url(../fonts/Boon-Regular.ttf?643291e07bc7a8594c2c358f537c0301) format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cs_prakasregular";
  src: url(../fonts/csprakas-webfont.woff2?66fe84ebffc3575ca8586a87b05bdcf8) format("woff2"), url(../fonts/csprakas-webfont.woff?fc5cc992edeb5868c6e4c5f868d58e15) format("woff"), url(../fonts/csprakas-webfont.ttf?da031375e747d3cb06717f843e343cf1) format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit";
  src: url(../fonts/SukhumvitReg.woff2?d593a19afb6184190da0835a043687f9) format("woff2"), url(../fonts/SukhumvitReg.woff?2025ba7f123849d66c726cae4d6754ea) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
